.form {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.form__text {
    width: 82%;
    border-color: hsl(0deg 0% 90%);
    border: 2px solid #dad5d5;
    padding-left: 10px;
}

.form__button {
    width: 17%;
    height: 40px;
    background-color: teal;
    color: white;
    border: 2px solid teal;
    cursor: pointer;
    transition: 1s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.05);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}

@media(max-width:767px) {
    .form {
        flex-direction: column;
    }

    .form__text {
        width: 100%;
        height: 40px;
    }

    .form__button {
        width: 100%;
        gap: 20px;
        height: 40px;
    }
}