.buttons {
    display: flex;
    flex-wrap:wrap;
}

.buttons__button {
    background-color: transparent;
    border: none;
    color: hsl(180, 100%, 30%);
    padding: 15px;
    transition: 1s;
    cursor: pointer;
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    color: rgb(170, 163, 163);
}

@media(max-width:767px) {

    .buttons__button {
       display: flex;
       width: 100%;
       justify-content: center
    }
}

